.progressBar {
	width: 100%;
	height: 20px;
	background-color: gray;
	border-radius: 7px;
	overflow: hidden;
	margin-top: 10px;
	max-width: 250px;
	position: relative;
	display: flex;
	flex-direction: row;
}

.progress {
	height: 100%;
	background: linear-gradient(90deg, #48e66a 0%, rgb(240, 122, 230) 100%);
	transition: width 0.3s ease;
}

.progressTextContainer {
	position: absolute;
	right: 3%;
	top: 50%;
	transform: translateY(-50%);
}

.progressText {
	color: #000;
	font-size: 14px;
}
